.go_top {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    color: #FFF;
    background-color: #666;
    border-color: #666;
}

.go_top:hover {
    color: #FFF;
    background-color: #333;
}

.go_top:active {
    color: #FFF;
    background-color: #000;
}