body {
    background: #fffaeb;
    margin: 0;
}

.header {
    background: #cecece;
    color: #2c2c83;
    text-align: center;
    padding: 15px;
}

.header a {
    text-decoration: none;
    color: #2c2c83;
}

.my_blog_title {
    font: 400 30px/40px '微软雅黑';
}

.my_blog_text {
    font: 400 16px/32px '微软雅黑';
}

.navigation a {
    font: 400 20px/40px '微软雅黑';
    padding: 15px;
}

.footer {
    background: #cecece;
    color: #2c2c83;
    text-align: center;
    padding: 15px;
}

.powerby{
    font: 400 16px/32px '微软雅黑';
}