body {
    background: #666;
}

.welcome {
    display: none;
    font: 400 20px/40px '微软雅黑';
    color: #FFF;
    padding: 8px;
    width: 500px;
    height: 400px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -120px 0 0 -250px;
}

.my_blog_title {
    border: 1px solid #FFF;
    width: 146px;
    position: relative;
    left: 50%;
    margin: 10px 0 0 -77px;
}

.my_blog_title a {
    text-decoration: none;
    color: #FFF;
}

.my_blog_text {
    border-top: 1px solid #FFF;
    font: 400 16px/32px '微软雅黑';
    margin: 20px 0 0 0;
}

.icon img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #FFF;
}

