<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>自定义高级编辑界面</title>
    <link rel="shortcut icon" href="/static/img/favicon/moying.ico">
    <link rel="stylesheet" href="/static/adminlte/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/plugins/font_awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/plugins/markdown/css/editormd.min.css">
    <link rel="stylesheet" href="/static/css/admin/super_edit.css">
    <link rel="stylesheet" href="/static/css/blog/back_top.css">
    <script src="/static/adminlte/plugins/jQuery/jquery-2.2.3.min.js"></script>
</head>
<body>
<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h1 class="edit_title">自定义高级编辑界面</h1>
        </div>
        <div class="box-body form-horizontal">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">SEO关键字</label>
                <div class="col-sm-10">
                    <input class="form-control" id="keywords_input" placeholder="SEO关键字">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">SEO简介</label>
                <div class="col-sm-10">
                    <input class="form-control" id="description_input" placeholder="SEO简介">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">SEO作者</label>
                <div class="col-sm-10">
                    <input class="form-control" id="author_input" placeholder="SEO作者">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">标题</label>
                <div class="col-sm-10">
                    <input class="form-control" id="title_input" placeholder="标题">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">正文</label>
                <div class="markdown-body" id="div_id_Content">
                    <textarea id="content_input"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">类别</label>
                <div class="col-sm-10">
                    <input class="form-control" id="class_input" placeholder="类别">
                    <div class="checkbox">
                        <label class="checkbox_lable"><input type="checkbox">Checkbox 1</label>
                        <label class="checkbox_lable"><input type="checkbox">Checkbox 2</label>
                        <label class="checkbox_lable"><input type="checkbox">Checkbox 3</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">标签</label>
                <div class="col-sm-10">
                    <input class="form-control" id="lable_input" placeholder="标签">
                    <div class="checkbox">
                        <label class="checkbox_lable"><input type="checkbox">Checkbox 1</label>
                        <label class="checkbox_lable"><input type="checkbox">Checkbox 2</label>
                        <label class="checkbox_lable"><input type="checkbox">Checkbox 3</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">状态</label>
                <div class="col-sm-10">
                    <select class="form-control" id="status_select">
                        <option data-id="0">不展示</option>
                        <option data-id="1">展示在博客上</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">时间轴</label>
                <div class="col-sm-10">
                    <select class="form-control" id="timeline_select">
                        <option data-id="0">不展示</option>
                        <option data-id="1">展示在时间轴上</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">时间轴类型</label>
                <div class="col-sm-10">
                    <select class="form-control" id="timeline_type_select">
                        <option>option 1</option>
                        <option>option 2</option>
                        <option>option 3</option>
                        <option>option 4</option>
                        <option>option 5</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="box-footer">
            <button type="button" class="btn btn-danger btn-lg delete_button" id="delete_button">删除</button>
            <button type="button" class="btn btn-warning btn-lg add_button" id="add_button">新增</button>
            <button type="button" class="btn btn-success btn-lg save_button" id="save_button">保存</button>
        </div>
    </div>
</section>
<a id="go_top" class="btn go_top" href="#top">Top</a>
<script src="/static/adminlte/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/adminlte/dist/js/app.min.js"></script>
<script src="/static/plugins/jquery/jquery.validate.min.js"></script>
<script src="/static/plugins/markdown/editormd.min.js"></script>
<script src="/static/plugins/layer/layer.js"></script>
<script src="/static/js/blog/back_top.js"></script>
<script type="text/javascript">
    var testEditor;
    $(function () {
        testEditor = editormd("div_id_Content", {
            width: "90%",
            height: 740,
            path: '/static/plugins/markdown/lib/',
            {#            theme: "dark",#}
            {#            previewTheme: "dark",#}
            {#            editorTheme: "pastel-on-dark",#}
            {#            markdown: md,#}
            codeFold: true,
            //syncScrolling : false,
            saveHTMLToTextarea: true,    // 保存 HTML 到 Textarea
            searchReplace: true,
            //watch : false,                // 关闭实时预览
            htmlDecode: "style,script,iframe|on*",            // 开启 HTML 标签解析，为了安全性，默认不开启
            //toolbar  : false,             //关闭工具栏
            //previewCodeHighlight : false, // 关闭预览 HTML 的代码块高亮，默认开启
            emoji: true,
            taskList: true,
            tocm: true,         // Using [TOCM]
            tex: true,                   // 开启科学公式TeX语言支持，默认关闭
            flowChart: true,             // 开启流程图支持，默认关闭
            sequenceDiagram: true,       // 开启时序/序列图支持，默认关闭,
            //dialogLockScreen : false,   // 设置弹出层对话框不锁屏，全局通用，默认为true
            //dialogShowMask : false,     // 设置弹出层对话框显示透明遮罩层，全局通用，默认为true
            //dialogDraggable : false,    // 设置弹出层对话框不可拖动，全局通用，默认为true
            //dialogMaskOpacity : 0.4,    // 设置透明遮罩层的透明度，全局通用，默认值为0.1
            //dialogMaskBgColor : "#000", // 设置透明遮罩层的背景颜色，全局通用，默认为#fff
            imageUpload: true,
            imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL: "./php/upload.php",
            onload: function () {
                console.log('onload', this);
                //this.fullscreen();
                //this.unwatch();
                //this.watch().fullscreen();

                //this.setMarkdown("#PHP");
                //this.width("100%");
                //this.height(480);
                //this.resize("100%", 640);
            }

        });
    });
</script>

<script>
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
    });
</script>
</body>
</html>