<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>自定义高级编辑界面</title>
    <link rel="shortcut icon" href="/static/img/favicon/moying.ico">
    <link rel="stylesheet" href="/static/adminlte/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/plugins/font_awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/plugins/ionicons/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/adminlte/dist/css/AdminLTE.min.css">
    <link rel="stylesheet" href="/static/adminlte/dist/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="/static/plugins/markdown/css/editormd.css">
    <link rel="stylesheet" href="/static/css/admin/super_edit.css">
    <link rel="stylesheet" href="/static/css/blog/back_top.css">
    <script src="/static/adminlte/plugins/jQuery/jquery-2.2.3.min.js"></script>
</head>
<body>
<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h1 class="edit_title">自定义高级编辑界面</h1>
        </div>
        <div class="box-body form-horizontal">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">SEO关键字</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="SEO关键字">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">SEO简介</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="SEO简介">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">SEO作者</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="SEO作者">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">标题</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="标题">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">正文</label>
                <div class="markdown-body" id="div_id_Content">
                    <textarea></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">类别</label>
                <div class="col-sm-10">
                    <label><input type="checkbox" value="1">aa</label>
{#                    <input type="email" class="form-control" id="inputEmail3" placeholder="类别">#}
                </div>
                <div class="checkbox">
                    <label>
                      <input type="checkbox">
                      Checkbox 1
                    </label>
                  </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">标签</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="标签">
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">状态</label>
                <div class="col-sm-10">
                    <select class="form-control">
                        <option>option 1</option>
                        <option>option 2</option>
                        <option>option 3</option>
                        <option>option 4</option>
                        <option>option 5</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">时间轴</label>
                <div class="col-sm-10">
                    <select class="form-control">
                        <option>option 1</option>
                        <option>option 2</option>
                        <option>option 3</option>
                        <option>option 4</option>
                        <option>option 5</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">时间轴类型</label>
                <div class="col-sm-10">
                    <select class="form-control">
                        <option>option 1</option>
                        <option>option 2</option>
                        <option>option 3</option>
                        <option>option 4</option>
                        <option>option 5</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="box-footer">
        </div>
    </div>
</section>
<script src="/static/adminlte/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/adminlte/dist/js/app.min.js"></script>
<script src="/static/plugins/jquery/jquery.validate.min.js"></script>
<script src="/static/plugins/markdown/editormd.min.js"></script>
<script src="/static/plugins/layer/layer.js"></script>
<script src="/static/js/blog/back_top.js"></script>
<script type="text/javascript">
    var testEditor;
    $(function () {
        testEditor = editormd("div_id_Content", {
            width: "90%",
            height: 640,
            syncScrolling: "single",
            path: "/static/plugins/markdown/lib/"
        });
    });
</script>
<script>
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
    });
</script>
</body>
</html>