<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="许树真,树真,许树真的博客,简历">
    <meta name="description" content="许树真的博客记录了许树真的成长过程和生活点滴，包含简历、技术博客和随笔">
    <meta name="author" content="许树真">
    <style>
        html, body {
            background-image: url('/static/img/indexbg/{{ img_num }}.jpg');
        }
    </style>
    <link rel="stylesheet" href="{% static 'plugins/buttons/buttons.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog/blog_index.css' %}">
    <title>许树真的博客——享受进步过程，品味生活情趣</title>
</head>
<body>
<div class="blog-info">
    <h1>许树真的博客</h1>
    <h2>去看、去做、去体会，不在乎终点</h2>
    <p>享受进步过程</p>
    <p>品味生活情趣</p>
    <a href="/1/" class="button button-glow button-royal button-pill button-large enter-blog">点我进入</a>
</div>
</body>
</html>