<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>许树真的博客</title>
    <link rel="stylesheet" href="/static/css/blog/blog_base.css">
</head>
<body>
<header class="header">
    <div class="my_blog">
        <div class="my_blog_title">
            <a href="/blog/">许树真的博客</a>
        </div>
        <div class="my_blog_text">
            神经病人思维广，弱智儿童欢乐多！
        </div>
    </div>
    <nav class="navigation">
        <a href="/blog/">首页</a>
        <a href="/blog/">分类</a>
        <a href="/blog/">排行</a>
        <a href="/blog/">归档</a>
        <a href="/blog/">关于</a>
    </nav>
</header>
{% block content %}
{% endblock %}
<footer class="footer">
    <div class="powerby">
        这是许树真的杰作2017
    </div>
</footer>
</body>
</html>