{% extends "blog/blog_base.html" %}
{% load staticfiles %}
{% block content %}
    <!-- Main content -->
    <section class="content">
        <div class="nav-tabs-custom">
            <div class="tab-content">
                <div class="active tab-pane" id="activity">
                    <!-- Post -->
                    <div class="post">
                        <div class="user-block">
                            <span class="username">
                                <a class="btn btn-info btn-sm">
                                    Python
                                </a>
                                <a href="#">这是一篇测试文章</a>
                                <span class="pull-right btn-box-tool"><i class="fa fa-eye"></i> 浏览(1)</span>
                            </span>
                            <span class="description">Shared publicly - 7:30 PM today</span>
                        </div>
                        <!-- /.user-block -->
                        <p>
                            Lorem ipsum represents a long-held tradition for designers,
                            typographers and the like. Some people hate it and argue for
                            its demise, but others ignore the hate as they create awesome
                            tools to help create filler text for everyone from bacon lovers
                            to Charlie Sheen fans.
                        </p>
                        <ul class="list-inline">
                            <li>
                                <span class="btn btn-success btn-sm">
                                    Python
                                </span>
                                <span class="btn btn-success btn-sm">
                                    Django
                                </span>
                            </li>
                            <li class="pull-right">
                                <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-thumbs-o-up"></i>
                                    赞
                                </button>
                                <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-share"></i>
                                    分享
                                </button>
                            </li>
                        </ul>
                    </div>
                    <!-- /.post -->

                    <!-- Post -->
                    <div class="post">
                        <div class="user-block">
                            <span class="username">
                                <a class="btn btn-info btn-sm">
                                    随笔
                                </a>
                                <a href="#">这也是一篇测试文章</a>
                                <span class="pull-right btn-box-tool"><i class="fa fa-eye"></i> 浏览(3)</span>
                            </span>
                            <span class="description">Shared publicly - 7:30 PM today</span>
                        </div>
                        <!-- /.user-block -->
                        <p>
                            Lorem ipsum represents a long-held tradition for designers,
                            typographers and the like. Some people hate it and argue for
                            its demise, but others ignore the hate as they create awesome
                            tools to help create filler text for everyone from bacon lovers
                            to Charlie Sheen fans.
                        </p>
                        <ul class="list-inline">
                            <li>
                                <span class="btn btn-success btn-sm">
                                    Python
                                </span>
                                <span class="btn btn-success btn-sm">
                                    Django
                                </span>
                                <span class="btn btn-success btn-sm">
                                    测试
                                </span>
                            </li>
                            <li class="pull-right">
                                <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-thumbs-o-up"></i>
                                    赞
                                </button>
                                <button type="button" class="btn btn-primary btn-sm"><i class="fa fa-share"></i>
                                    分享
                                </button>
                            </li>
                        </ul>
                    </div>
                    <!-- /.post -->
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- /.nav-tabs-custom -->
    </section>
{% endblock %}