{% extends "blog/blog_base.html" %}
{% load staticfiles %}
{% block links %}
    <link rel="stylesheet" href="{% static 'plugins/markdown/css/editormd.preview.css' %}">
    <link rel="stylesheet" href="{% static 'css/blog/article_page.css' %}">
{% endblock %}
{% block content_title %}
    文章页面
{% endblock %}
{% block content %}
    <!-- Main content -->
    <section class="content">
        <div class="box">
            <div class="box-header with-border">
                <h1 class="article-title">{{ this_article.Title }}</h1>
                {#                <span class="pull-right description"><i class="fa fa-clock-o"></i>{{ this_article.CreateTime }}</span>#}
                <div class="pull-right btn-box-tool">
                    <i class="fa fa-clock-o"></i>
                    <span class="article-create-time">
                        发表于：
                        {{ this_article.CreateTime }}
                    </span>
                    <i class="fa fa-history"></i>
                    <span class="article-update-time">
                        最近更新：
                        {{ this_article.UpdateTime }}
                    </span>
                    <i class="fa fa-eye"></i>
                    <span class="article-page-view">浏览({{ this_article.PageView }})</span>
                </div>
            </div>
            <div class="box-body">
                <div id="article-md-view">
                    <textarea>{{ this_article.Content }}</textarea>
                </div>
            </div>
            <div class="box-footer">
                <div class="article-copy-right">
                    作者：许树真<br>
                    版权声明：转载时请以链接形式注明出处<br>
                    通知作者：如有技术交流或发现文章内容有错误、不合理之处，望点击
                    <button type="button" class="btn btn-primary btn-sm article-wrong">
                        <i class="fa fa-info-circle"></i>
                        通知作者
                    </button>
                    ，十分感谢！
                </div>
                <div class="pull-right btn-box-tool">
                    <i class="fa fa-clock-o"></i>
                    <span class="article-create-time">
                        发表于：
                        {{ this_article.CreateTime }}
                    </span>
                    <i class="fa fa-history"></i>
                    <span class="article-update-time">
                        最近更新：
                        {{ this_article.UpdateTime }}
                    </span>
                    <i class="fa fa-eye"></i>
                    <span class="article-page-view">浏览({{ this_article.PageView }})</span>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <!-- <script src="js/zepto.min.js"></script>
		<script>
			var jQuery = Zepto;  // 为了避免修改flowChart.js和sequence-diagram.js的源码，所以使用Zepto.js时想支持flowChart/sequenceDiagram就得加上这一句
		</script> -->
    <script src="{% static 'plugins/markdown/lib/marked.min.js' %}"></script>
    <script src="{% static 'plugins/markdown/lib/prettify.min.js' %}"></script>
    <script src="{% static 'plugins/markdown/lib/raphael.min.js' %}"></script>
    <script src="{% static 'plugins/markdown/lib/underscore.min.js' %}"></script>
    <script src="{% static 'plugins/markdown/lib/sequence-diagram.min.js' %}"></script>
    <script src="{% static 'plugins/markdown/lib/flowchart.min.js' %}"></script>
    <script src="{% static 'plugins/markdown/lib/jquery.flowchart.min.js' %}"></script>
    <script src="{% static 'plugins/markdown/editormd.min.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            editormd.markdownToHTML("article-md-view", {
                //htmlDecode      : true,       // 开启 HTML 标签解析，为了安全性，默认不开启
                htmlDecode: "style,script,iframe",  // you can filter tags decode
                //toc             : false,
                tocm: true,    // Using [TOCM]
                //tocContainer    : "#custom-toc-container", // 自定义 ToC 容器层
                //gfm             : false,
                //tocDropdown     : true,
                // markdownSourceCode : true, // 是否保留 Markdown 源码，即是否删除保存源码的 Textarea 标签
                emoji: true,
                taskList: true,
                tex: true,  // 默认不解析
                flowChart: true,  // 默认不解析
                sequenceDiagram: true,  // 默认不解析
            });
        });
    </script>

{% endblock %}