<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">导航</li>
            <li><a href="../../documentation/index.html"><i class="fa fa-laptop"></i> <span>个人简历</span></a></li>
            <li><a href="../../documentation/index.html"><i class="fa fa-calendar"></i> <span>时间轴</span></a></li>
            <li><a href="../../documentation/index.html"><i class="fa fa-dashboard"></i> <span>全站统计</span></a></li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-pie-chart"></i><span>文章分类</span>
                    <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                </a>
                <ul class="treeview-menu">

                    <li><a href="../charts/chartjs.html"><i class="fa fa-circle-o"></i>Python</a></li>
                    <li><a href="../charts/morris.html"><i class="fa fa-circle-o"></i>Django</a></li>
                    <li><a href="../charts/flot.html"><i class="fa fa-circle-o"></i>爬虫</a></li>
                    <li><a href="../charts/inline.html"><i class="fa fa-circle-o"></i>机器学习</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-book"></i> <span>阅读Top10</span>
                    <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="../examples/invoice.html"><i class="fa fa-circle-o"></i>1</a></li>
                    <li><a href="../examples/profile.html"><i class="fa fa-circle-o"></i>2</a></li>
                    <li><a href="../examples/login.html"><i class="fa fa-circle-o"></i>3</a></li>
                    <li><a href="../examples/register.html"><i class="fa fa-circle-o"></i>4</a></li>
                    <li><a href="../examples/lockscreen.html"><i class="fa fa-circle-o"></i>5</a></li>
                    <li><a href="../examples/404.html"><i class="fa fa-circle-o"></i>6</a></li>
                    <li><a href="../examples/500.html"><i class="fa fa-circle-o"></i>7</a></li>
                    <li><a href="../examples/500.html"><i class="fa fa-circle-o"></i>8</a></li>
                    <li><a href="../examples/500.html"><i class="fa fa-circle-o"></i>9</a></li>
                    <li><a href="../examples/500.html"><i class="fa fa-circle-o"></i>10</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>文章归档</span>
                    <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="../examples/invoice.html"><i class="fa fa-circle-o"></i>2017年6月</a></li>
                    <li><a href="../examples/profile.html"><i class="fa fa-circle-o"></i>2017年5月</a></li>
                    <li><a href="../examples/login.html"><i class="fa fa-circle-o"></i>2017年4月</a></li>
                    <li><a href="../examples/register.html"><i class="fa fa-circle-o"></i>2017年3月</a></li>
                    <li><a href="../examples/lockscreen.html"><i class="fa fa-circle-o"></i>2017年2月</a></li>
                    <li><a href="../examples/404.html"><i class="fa fa-circle-o"></i>2017年1月</a></li>
                    <li><a href="../examples/500.html"><i class="fa fa-circle-o"></i>更多</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-share"></i><span>关于本站</span>
                </a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>