<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">导航</li>
            <li class="{{ about_me_active }}"><a href="#"><i class="fa fa-laptop"></i>
                <span>个人简历</span></a>
            </li>
            <li class="{{ time_line_active }}"><a href="#"><i class="fa fa-calendar"></i>
                <span>时间轴</span></a>
            </li>
            <li class="{{ statistics_active }}"><a href="#"><i class="fa fa-dashboard"></i>
                <span>全站统计</span></a>
            </li>
            <li class="treeview {{ class_active }}">
                <a href="#">
                    <i class="fa fa-pie-chart"></i><span>文章分类</span>
                    <span class="pull-right-container"><i class="fa fa-angle-left pull-right"></i></span>
                </a>
                <ul class="treeview-menu">
                    {% for each_class in class_list %}
                        {% if each_class.ClassID == now_class_id %}
                            <li class="active">
                                <a href="/class/{{ each_class.ClassID }}/">
                                    <i class="fa fa-circle-o"></i>{{ each_class.ClassName }}
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="/class/{{ each_class.ClassID }}/">
                                    <i class="fa fa-circle-o"></i>{{ each_class.ClassName }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
            <li class="treeview {{ top_active }}">
                <a href="#">
                    <i class="fa fa-book"></i> <span>阅读Top10</span>
                    <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                </a>
                <ul class="treeview-menu">
                    {% for each_article in top_article_list %}
                        {% if each_article.ArticleID == this_article.ArticleID %}
                            <li class="active">
                                <a href="/article/{{ each_article.ArticleID }}/">
                                    <i class="fa fa-circle-o"></i>{{ each_article.Title }} ({{ each_article.PageView }})
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="/article/{{ each_article.ArticleID }}/">
                                    <i class="fa fa-circle-o"></i>{{ each_article.Title }} ({{ each_article.PageView }})
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>文章归档</span>
                    <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                </a>
                <ul class="treeview-menu">
                </ul>
            </li>
            <li class="{{ about_my_site_active }}"><a href="#"><i class="fa fa-share"></i>
                <span>关于本站</span></a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>