{% extends "blog/blog_base.html" %}
{% load staticfiles %}
{% block content %}
    <!-- Main content -->
    <section class="content">
        <div class="nav-tabs-custom">
            <div class="tab-content">
                <div class="active tab-pane" id="activity">
                    {% include "blog/blog_turn_page.html" %}
                </div>
                <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- /.nav-tabs-custom -->
    </section>
{% endblock %}