<!DOCTYPE html>
{% load staticfiles %}
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="{% block meta_author %}许树真{% endblock %}">
    <meta name="description" content="{% block meta_description %}技术博客,随笔,个人简历{% endblock %}">
    <meta name="keywords" content="{% block meta_keywords %}许树真,许树真的博客{% endblock %}">
    <title>{% block blog_title %}许树真的博客{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'adminlte/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/font_awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/ionicons/css/ionicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/dist/css/AdminLTE.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminlte/dist/css/skins/_all-skins.min.css' %}">
</head>
<body class="skin-blue sidebar-mini pace-done">
<div class="wrapper">
    {% include "blog/blog_header.html" %}
    {% include "blog/blog_sidebar.html" %}
    {% block content %}{% endblock %}
    {% include "blog/blog_footer.html" %}
</div>
<script src="{% static 'adminlte/plugins/jQuery/jquery-2.2.3.min.js' %}"></script>
<script src="{% static 'adminlte/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'adminlte/dist/js/app.min.js' %}"></script>
<script src="{% static 'plugins/jquery/jquery.validate.min.js' %}"></script>
<script src="{% static 'plugins/layer/layer.js' %}"></script>
<script>
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
    });
</script>
{% block scripts %}{% endblock %}
</body>
</html>