<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>欢迎</title>
    <link rel="stylesheet" href="/static/css/blog/index.css">
</head>
<body>
<div class="welcome" id="welcome">
    <div class="icon" id="icon">
        <img src="/static/img/blog/icon.jpg" alt="头像加载失败">
    </div>
    <div class="my_blog">
        <div class="my_blog_title">
            许树真的博客
        </div>
        <div class="my_blog_text">
            神经病人思维广，弱智儿童欢乐多！
        </div>
    </div>
</div>
<script src="/static/lib/jquary.js"></script>
<script src="/static/js/blog/index.js"></script>
</body>
</html>