<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>许树真的博客</title>
    <link rel="stylesheet" href="/static/css/blog/index.css">
</head>
<body>
<div class="welcome" id="welcome">
    <div class="icon" id="icon">
        <a href="/blog/"><img src="/static/img/blog/icon.jpg" alt="头像加载失败"></a>
    </div>
    <div class="my_blog">
        <div class="my_blog_title">
            <a href="/blog/">许树真的博客</a>
        </div>
        <div class="my_blog_text">
            <a href="/blog/">神经病人思维广，弱智儿童欢乐多！</a>
        </div>
    </div>
</div>
<script src="/static/lib/jquary.js"></script>
<script src="/static/js/blog/index.js"></script>
</body>
</html>